@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --blue: #2196F3;
    --grey: #A4A4A4;
    --white: #FFFFFF;
    --black: #161A1D;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--white);
    transition: .3s ease-in-out;
    color: var(--black);
}
h1, h2, h3, h4, h5{
    margin: 0;
    font-weight: 600;
}
p{
    margin: 0;
}
.mt-50{
  margin-top: 50px;  
}
.mt-12{
    margin-top: 12px; 
}
.btn-primary{
    padding: 12px 12px;
    border: none;
    border-radius:8px;
    background-color: #2196F3;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;

}
.text-secondary {
    color: var(--grey);
}

.navbar-brand{
    text-decoration: none;
    color: var(--blue);
    font-size: 20px;
    font-weight: 600;
    margin-right: 32px;
}
.nav-item a{
    text-decoration: none;
    padding: 4px 8px;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}
.navbar-default{
    display: flex;
    align-items: center;
}
.navbar-between{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.navbar-between i{
    color: var(--black);
    border: 1px solid var(--black);
    padding: 2px 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.container-flax{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .navbar-default{
        display: block;
    }
    .container-flax{
        width: 100%;
        display: block;
        grid-template-columns: none;
    }
    .nav-item{
        display: block;
        overflow: auto;
        overflow-y: none;
        overflow-x: scroll;
       white-space: nowrap;
    }
}


.container {
    width: 100%;
    margin: auto !important;
}
.link-primary{
    text-decoration: none;
    color: #2196F3;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }